---
---

<div class="px-8 2xl:max-w-7xl mx-auto pb-12">
  <div class="space-y-2">
    <div class="h-0.5 bg-secondary"></div>
    <h3 class="text-secondary text-xs font-medium">
      <span>Main</span>
      <span class="font-bold">features</span>
    </h3>
  </div>
  <ul
    class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-secondary md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-32"
    role="list"
  >
    <li class="flow-root h-full">
        <div class="h-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0"
            >
              01.
            </p>
            <h3 class="italic shrink-0">Write</h3>
            <p class="text-xs mt-3 leading-relaxed">
              Draft a blog post, write that story or complete a school report wherever you are.
              Use Markdown to format text with easy keyboard shortcuts, subtle syntax highlighting, 
              word counters with live update, and much more.
            </p>
          </div>
        </div>
    </li>
    <li class="flow-root h-full">
        <div class="h-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0"
            >
              02.
            </p>
            <p class="italic shrink-0">Sync</p>
            <p class="text-xs mt-3 leading-relaxed">
              All your documents, on all your devices. With iCloud and Dropbox, you can create documents 
              in Byword on your Mac and access them on your iPad, iPhone, and iPod touch. And vice versa. 
              You can edit them from anywhere, on any device you use.
            </p>
          </div>
        </div>
    </li>
    <li class="flow-root h-full">
        <div class="h-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0"
            >
              03.
            </p>
            <p class="italic shrink-0">Export &amp; Publish</p>
            <p class="text-xs mt-3 leading-relaxed">
              Byword includes complete Markdown support. Preview your documents in app, 
              export to HTML, PDF, rich text, or publish directly to Medium, WordPress, 
              Blogger, Tumblr and Evernote.
            </p>
          </div>
        </div>
    </li>
  </ul>