<footer class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-32 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span>© 2023</span>
        <span class="font-bold">Metaclassy, Lda.</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
      <div class="h-3 bg-secondary">
      </div>
      <div class="h-6 bg-secondary">
      </div>
      <div class="h-12 bg-secondary"></div>
      <div class="h-24 bg-secondary"></div>
    </div>
  </div>
</footer>
