<header class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto pt-12">
    <svg viewBox="0 0 418 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.284091 71V1.18182H29.3977C34.625 1.18182 39 1.92045 42.5227 3.39772C46.0682 4.875 48.7273 6.94318 50.5 9.60227C52.2955 12.2614 53.1932 15.3409 53.1932 18.8409C53.1932 21.5 52.6364 23.875 51.5227 25.9659C50.4091 28.0341 48.875 29.75 46.9205 31.1136C44.9659 32.4773 42.7045 33.4318 40.1364 33.9773V34.6591C42.9545 34.7955 45.5568 35.5568 47.9432 36.9432C50.3523 38.3295 52.2841 40.2614 53.7386 42.7386C55.1932 45.1932 55.9205 48.1023 55.9205 51.4659C55.9205 55.2159 54.9659 58.5682 53.0568 61.5227C51.1477 64.4545 48.3864 66.7727 44.7727 68.4773C41.1591 70.1591 36.7727 71 31.6136 71H0.284091ZM17.1591 57.3977H27.5909C31.25 57.3977 33.9432 56.7045 35.6705 55.3182C37.4205 53.9318 38.2955 52 38.2955 49.5227C38.2955 47.7273 37.875 46.1818 37.0341 44.8864C36.1932 43.5682 35 42.5568 33.4545 41.8523C31.9091 41.125 30.0568 40.7614 27.8977 40.7614H17.1591V57.3977ZM17.1591 29.8864H26.5C28.3409 29.8864 29.9773 29.5795 31.4091 28.9659C32.8409 28.3523 33.9545 27.4659 34.75 26.3068C35.5682 25.1477 35.9773 23.75 35.9773 22.1136C35.9773 19.7727 35.1477 17.9318 33.4886 16.5909C31.8295 15.25 29.5909 14.5795 26.7727 14.5795H17.1591V29.8864ZM50.9568 1.18182H69.8091L84.5705 30.3977H85.1841L99.9455 1.18182H118.798L93.2636 47.6818V71H76.4909V47.6818L50.9568 1.18182ZM142.61 71L122.292 1.18182H140.94L151.474 46.9318H152.053L164.088 1.18182H179.292L191.326 47.0341H191.906L202.474 1.18182H221.088L200.803 71H184.542L171.963 28.6591H171.417L158.838 71H142.61ZM287.912 36.0909C287.912 43.7727 286.435 50.2841 283.48 55.625C280.525 60.9659 276.525 65.0227 271.48 67.7955C266.457 70.5682 260.821 71.9545 254.571 71.9545C248.298 71.9545 242.65 70.5568 237.628 67.7614C232.605 64.9659 228.616 60.9091 225.662 55.5909C222.73 50.25 221.264 43.75 221.264 36.0909C221.264 28.4091 222.73 21.8977 225.662 16.5568C228.616 11.2159 232.605 7.15909 237.628 4.38636C242.65 1.61363 248.298 0.22727 254.571 0.22727C260.821 0.22727 266.457 1.61363 271.48 4.38636C276.525 7.15909 280.525 11.2159 283.48 16.5568C286.435 21.8977 287.912 28.4091 287.912 36.0909ZM270.662 36.0909C270.662 31.5455 270.014 27.7045 268.719 24.5682C267.446 21.4318 265.605 19.0568 263.196 17.4432C260.81 15.8295 257.935 15.0227 254.571 15.0227C251.23 15.0227 248.355 15.8295 245.946 17.4432C243.537 19.0568 241.685 21.4318 240.389 24.5682C239.116 27.7045 238.48 31.5455 238.48 36.0909C238.48 40.6364 239.116 44.4773 240.389 47.6136C241.685 50.75 243.537 53.125 245.946 54.7386C248.355 56.3523 251.23 57.1591 254.571 57.1591C257.935 57.1591 260.81 56.3523 263.196 54.7386C265.605 53.125 267.446 50.75 268.719 47.6136C270.014 44.4773 270.662 40.6364 270.662 36.0909ZM295.844 71V1.18182H324.685C329.912 1.18182 334.424 2.125 338.219 4.01136C342.037 5.875 344.98 8.55682 347.049 12.0568C349.117 15.5341 350.151 19.6591 350.151 24.4318C350.151 29.2727 349.094 33.3864 346.98 36.7727C344.867 40.1364 341.867 42.7045 337.98 44.4773C334.094 46.2273 329.492 47.1023 324.174 47.1023H305.935V33.8068H321.037C323.583 33.8068 325.708 33.4773 327.412 32.8182C329.14 32.1364 330.446 31.1136 331.333 29.75C332.219 28.3636 332.662 26.5909 332.662 24.4318C332.662 22.2727 332.219 20.4886 331.333 19.0795C330.446 17.6477 329.14 16.5795 327.412 15.875C325.685 15.1477 323.56 14.7841 321.037 14.7841H312.719V71H295.844ZM335.151 39.0909L352.537 71H334.128L317.083 39.0909H335.151ZM383.293 71H357.487V1.18182H383.259C390.373 1.18182 396.498 2.57954 401.634 5.375C406.793 8.14772 410.771 12.1477 413.566 17.375C416.362 22.5795 417.759 28.8068 417.759 36.0568C417.759 43.3295 416.362 49.5795 413.566 54.8068C410.793 60.0341 406.828 64.0455 401.668 66.8409C396.509 69.6136 390.384 71 383.293 71ZM374.362 56.6136H382.646C386.555 56.6136 389.862 55.9545 392.566 54.6364C395.293 53.2955 397.35 51.125 398.737 48.125C400.146 45.1023 400.85 41.0795 400.85 36.0568C400.85 31.0341 400.146 27.0341 398.737 24.0568C397.328 21.0568 395.248 18.8977 392.498 17.5795C389.771 16.2386 386.407 15.5682 382.407 15.5682H374.362V56.6136Z" fill="black"/>
      </svg>      
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center">
        <div class="flex gap-3 items-center">
          <h2 class="text-secondary text-xs font-medium">
            <span class="font-bold">Markdown app</span> for writing in plain text efficiently. Available for Mac, iPhone and iPad.
          </h2>
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://twitter.com/bywordapp"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="32"
                  width="32"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
            <li>
              <a
                href="mailto:byword@metaclassy.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="32"
                  width="32"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="h-0.5 bg-secondary">
      </div>
    </div>
  </div>
</header>
